.example-spacer {
  flex: 1 1 auto;
}

.center{
  text-align: left;
  margin-left: 15px;
}

.header{
  height: 11%;
  font-weight: bold;
  font-family: "Book Antiqua";
  font-size: 30px;
  border-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  ) 1 ;
  border-bottom:  4px solid;
}

.logo{

}
