.example-card{
  margin-top: 15px;
}

.card-title {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  color: transparent;
}



